* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

body {
  width: 100%;
  min-width: 360px;
}

header {
  width: 100%;
  height: 50px;
  background: rgba(33, 32, 32, 0.567);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
header:hover {
  background-color: black;
}
header button {
  display: none;
}
header nav {
  padding-left: 30px;
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 50px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
header nav a {
  padding: 0 6px;
  letter-spacing: 2.2px;
  text-decoration: none;
  color: rgb(247, 237, 237);
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
header nav a:hover {
  background: rgba(252, 249, 249, 0.942);
  color: black;
}
@media screen and (max-width: 550px) {
  header {
    width: 100%;
  }
  header nav > button {
    display: block !important;
    background: rgba(140, 140, 156, 0);
    border: none;
  }
  header nav > a {
    display: none !important;
  }
}

#home {
  width: 100%;
  height: 100vh;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Pizza-3007395.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 300px;
}
#home .menu_text {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
#home .menu_text .anahit,
#home .menu_text .roza {
  text-align: center !important;
  font-size: 60px;
}
#home .menu_text .naka {
  font-size: 22px;
  background: rgba(0, 0, 0, 0.607);
  padding: 10px;
}
#home .menu_text .naka:hover {
  background-color: rgba(240, 248, 255, 0.57);
  color: black;
}
#home .anna {
  font-size: 18px;
  background: rgba(0, 0, 0, 0.692);
  padding: 5px;
}
#home p {
  color: aliceblue;
}

header {
  width: 100%;
  height: 50px;
  background: rgba(33, 32, 32, 0.567);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
header:hover {
  background-color: black;
}
header button {
  display: none;
}
header nav {
  padding-left: 30px;
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 50px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
header nav a {
  padding: 0 6px;
  letter-spacing: 2.2px;
  text-decoration: none;
  color: rgb(247, 237, 237);
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
header nav a:hover {
  background: rgba(252, 249, 249, 0.942);
  color: black;
}
@media screen and (max-width: 550px) {
  header {
    width: 100%;
  }
  header nav > button {
    display: block !important;
    background: rgba(140, 140, 156, 0);
    border: none;
  }
  header nav > a {
    display: none !important;
  }
}

#about {
  width: 100%;
  height: 170vh;
  padding: 45px;
  background-color: #a67773 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: aliceblue;
}
#about > p {
  letter-spacing: 2.4px !important;
  text-align: center !important;
}
#about .text1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
#about .text1 > h2 {
  letter-spacing: 2.4px !important;
  font-size: 40px;
}
#about .text1 p {
  letter-spacing: 2.4px;
  text-align: center !important;
  font-size: 25px;
  width: 80%;
}
#about .main_text {
  letter-spacing: 2.4px !important;
  text-align: center !important;
}
#about .text2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  gap: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#about .text2 img {
  width: 170px;
  height: 150px;
  border-radius: 100%;
}
#about .text2 .the {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
}
@media screen and (max-width: 419px) {
  #about .text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#about .text3 {
  width: 100%;
}
#about .text3 h2 {
  letter-spacing: 2.4px;
  font-size: 30px;
  margin: 0 0 40px 0;
}
#about .text3 .himnakan {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#about .erexa1 > p,
#about .erexa2 > p {
  letter-spacing: 2.4px;
  text-align: center !important;
}
#about div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#about div p {
  letter-spacing: 2.4px;
  width: 100%;
  text-align: start;
  font-size: 25px;
}
@media screen and (max-width: 550px) {
  #about {
    width: 100%;
  }
}
@media screen and (max-width: 458px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

#contact {
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: #84939a;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#contact h2 {
  letter-spacing: 2.4px !important;
  font-size: 40px;
}
#contact .text4 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact .text4 > p {
  letter-spacing: 2.4px !important;
  text-align: center !important;
  width: 100%;
  text-align: start;
  font-size: 23px;
}
#contact .text4 > p .f {
  background-color: black;
  padding: 7px;
}
#contact .text4 > p .r {
  font-weight: 900;
  font-size: 30px;
}
#contact .inputs {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contact .inputs input {
  border: none;
  width: 100%;
  height: 25%;
  color: rgb(131, 128, 128);
}

footer {
  width: 100%;
  height: 130px;
  background-color: black;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
footer p {
  font-size: 25px;
}
footer p a {
  letter-spacing: 3.4px !important;
  font-size: 25px;
  text-decoration: none;
  color: aliceblue;
}

#LOCATION {
  width: 100%;
  height: 100vh;
  background: url(https://www.w3schools.com/w3images/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(75%);
          filter: grayscale(75%);
}