@import './flex.scss';
@import './header.scss';

#about {
    width: 100%;
    height: auto;
    padding: 45px;
    background-color: #a67773 !important;
    @include flex();
    flex-direction: column;
    justify-content: space-around;
    color: aliceblue;

    >p {
        letter-spacing: 2.4px !important;
        text-align: center !important;
    }

    .text1 {
        width: 100%;
        @include flex();
        flex-direction: column;
        gap: 50px;

        >h2 {
            letter-spacing: 2.4px !important;
            font-size: 40px;

        }

        p {
            letter-spacing: 2.4px;
            text-align: center !important;
            font-size: 25px;
            width: 80%;

        }
    }

    .main_text {
        letter-spacing: 2.4px !important;
        text-align: center !important;
    }

    .text2 {
        width: 100%;
        @include flex();
        gap: 80px;
        flex-direction: row;

        img {
            width: 170px;
            height: 150px;
            border-radius: 100%;

        }

        .the {
            width: 40%;
            @include flex();
            flex-direction: column;
            font-size: 25px;

        }

        @media screen and (max-width:419px) {
            @include flex();
            flex-direction: column;
        }
    }

    .text3 {
        width: 100%;

        h2 {
            letter-spacing: 2.4px;
            font-size: 30px;
            margin: 0 0 40px 0;
        }

        .himnakan {
            width: 70%;
            @include flex();
            justify-content: space-between;

        }
    }

    .erexa1>p,
    .erexa2>p {
        letter-spacing: 2.4px;
        text-align: center !important;
    }

    div {
        width: 100%;
        @include flex();
        flex-direction: column;

        p {
            letter-spacing: 2.4px;
            width: 100%;
            text-align: start;
            font-size: 25px;

        }
    }


    @media screen and (max-width:550px) {
        width: 100%;
    }

    @media screen and (max-width:458px) {
        @include flex();
        flex-direction: column;
        gap: 50px;
    }
}
