@import './flex.scss';

#contact {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: #84939a;
    color: aliceblue;
    @include flex();
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
        letter-spacing: 2.4px !important;
        font-size: 40px;
    }

    .text4 {
        width: 80%;
        @include flex();
        flex-direction: column;

        >p {
            letter-spacing: 2.4px !important;
            text-align: center !important;
            width: 100%;
            text-align: start;
            font-size: 23px;

            .f {
                background-color: black;
                padding: 7px;

            }

            .r {
                font-weight: 900;
                font-size: 30px;

            }
        }

    }

    .inputs {
        width: 100%;
        height: 250px;
        @include flex();
        flex-direction: column;
        justify-content: space-between;

        input {
            border: none;
            width: 100%;
            height: calc(100% / 4);
            color: rgb(131, 128, 128);
        }
    }
}