@import './flex.scss';

footer {
    width: 100%;
    height: 130px;
    background-color: black;
    color: aliceblue;
    @include flex();

    p {
        font-size: 25px;

        a {
            letter-spacing: 3.4px !important;
            font-size: 25px;
            text-decoration: none;
            color: aliceblue;
        }
    }
}