@import './flex.scss';

#home {
    width: 100%;
    height: 100vh;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Pizza-3007395.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90%;
    @include flex();
    flex-direction: column;
    gap: 300px;

    .menu_text {
        margin-top: 20px;
        @include flex();
        flex-direction: column;
        gap: 40px;

        .anahit,
        .roza {
            text-align: center !important;
            font-size: 60px;
        }

        .naka {
            font-size: 22px;
            background: rgba(0, 0, 0, 0.607);
            padding: 10px;

            &:hover {
                background-color: rgba(240, 248, 255, 0.57);
                color: black;
            }
        }
    }

    .anna {
        font-size: 18px;
        background: rgba(0, 0, 0, 0.692);
        padding: 5px;
    }

    p {
        color: aliceblue;
    }
}